@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

#question-div {
  font-size: 30px;
  text-align: center;
  background-color: skyblue;
  padding: 20px;
  min-height: 150px;
}

#answer-input-div {
  padding: 20px;
}

#answer-p {
    font-size: 30px;
    text-align: center;
}

form {
  width: 40%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
}

input[type=text] {
  width: 100%;
  padding: 5px 10px;
  font-size: 20px;
  outline: none;
}

input[type=submit] {
  display: block;
  margin: 10px 0;
  padding: 3px 10px;
  font-size: 20px;
  background-color: skyblue;
  cursor: pointer;
  border-radius: 8px;
  border: 0;
}

#reset-practice {
    text-decoration: none;
    color: rgb(20, 20, 20);
    font-size: 16px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.fa-thumbs-up {
  font-size: 20px;
  position: absolute;
  right: 140px;

}

.fa-thumbs-down {
  font-size: 20px;
  position: absolute;
  right: 85px;
  top: 2px;
}

#correct-answer {
  font-size: 16px;
  position: absolute;
  right: 150px;
  top: 25px;
}

#false-answer {
  font-size: 16px;
  position: absolute;
  right: 95px;
  top: 25px;
}

.fa-hashtag {
  font-size: 16px;
  position: absolute;
  right: 35px;
}

#total-questions {
  font-size: 16px;
  position: absolute;
  right: 40px;
  top: 25px;
}

#stats {
  float: right;
  position: relative;
}


/* Hiragana Keyboard */
#hiragana-keyboard {
    box-sizing: border-box;
    width: 40%;
    margin: 0 auto;
    overflow: hidden;
}

.keyboard-button {
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    float: left;
    width: calc(20% - 4px);
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
    border-radius: 10px;
}


/* responsive design */
@media only screen and (max-width: 600px) {

    form {
        width: 100%;
    }

    #hiragana-keyboard {
        width: 100%;
        padding: 5px;
    }

    #stats {
      float: none;
      width: 50%;
      margin: 0 auto;
    }

}
